.intro-page {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  text-align: center;
}

.intro-page h1 {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
}

.intro-page p {
  font-size: 0.85rem;
  letter-spacing: 1.1px;
  font-weight: 450;
  max-width: 500px;
}


